<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.min.css" integrity="sha512-RpeJZX3aH5oZN3U3JhE7Sd+HG8XQsqmP3clIbu4G28p668yNsRNj3zMASKe1ATjl/W80wuEtCx2dFA8xaebG5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Ma page</title>
  <style>
    html,
    body,
    #viewDiv {
      position: absolute;
      padding: 0;
      margin: 0;
      height: 100vh;
      width: 100%;
    }

    .container{
      position: relative;
      max-height: 100vh;
      overflow-y: auto;
    }

    .formulaire{
      color: rgb(0, 0, 0);
      display: flex;
      padding: 10px 30px;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      background-color: rgb(242, 238, 238);    
      text-align: center;
      border-radius: 10px;
      width: 90%;
      margin-bottom: 15px;
      margin: 40px auto;
    }
    
    .formulaire h1{
      font-weight: 500;
    }

    .formulaire input{
      margin: 15px 0;
      padding: 10px;
      font-size: 15px;
      outline: none;
      width: 170px;
      height: 30px;
      border-radius: 4px;
      border: none;
    }

    .card{
    color:  rgb(0, 0, 0); 
    display: flex;
    margin: auto;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(242, 238, 238);
    text-align: center;
    border-radius: 10px;
    width: 90%;
}

.card input{
    position: absolute;
    right: 10px;
    color: white;
    background: gray;
    transition: 0.3s;
}

.card input:hover{
    transform: translateY(1px);
    background: white;
    color: gray;
}

.card button.button{
    position: relative;
    top: -17px;
    background: gray;
    border: none;
    transition: 0.3s;
}
.card button.button:hover{
    transform: translateY(1px);
    background: white;
    color: gray;
}
  </style>

  <link rel="stylesheet" href="https://js.arcgis.com/4.29/esri/themes/light/main.css">
  <script src="https://js.arcgis.com/4.29/"></script>

  <script>
    require([
     "esri/config",
      "esri/Map",
      "esri/views/MapView",
      "esri/geometry/Point",
      "esri/geometry/SpatialReference"
    ],(esriConfig, Map, MapView, Point, SpatialReference)=> {

      esriConfig.apiKey= "AAPTxy8BH1VEsoebNVZXo8HurMXFZFxfQy31X9IiJeRjps-hUQQPdaia96ad3TjAQKVEV8y95N-40f5dV8hJXxQxFTcHhG4OgOXeYxOyDWvQwN17sWm8i1eBi2rE5xZEGYUGk51AbZS70Nh4Tnjkn8AK94uS-FiwN08V8c-jryH81B-y-Nq8carQ3V2iTKIjZhys3EWEUv9-FRgMnIyxSLLrf9CzcxH3-mn3JQhCG55A8co.AT1_1KF8zRHF";
      const map = new Map({
        basemap: "arcgis/topographic" // Basemap layer
      });

      const buttonCity = document.querySelectorAll('#buttonCity');

      
       
       <% if(weatherData.length > 0) { %>

            const view = new MapView({
              map: map,
              center: [<%= weatherData[weatherData.length -1].longitude %>, <%= weatherData[weatherData.length -1].latitude %>], // 5.448528512.2554258  45.365875225.3698595
              zoom: 13, // scale: 72223.819286
              container: "viewDiv",
              constraints: {
                snapToZoom: false
              }
            });

            buttonCity.forEach(button => {
              button.addEventListener('click', () => {
                let pt = new Point({
                x: button.getAttribute("data-longitude"),
                y: button.getAttribute('data-latitude'),
                spatialReference: new SpatialReference({ wkid: 4326 })
              });
            view.center = pt
        })
            })
              
            

            <% } else { %>
          const view = new MapView({
          map: map,
          center: [<%= data.long %>, <%= data.lat %>],
          zoom: 13, // scale: 72223.819286
          container: "viewDiv",
          constraints: {
            snapToZoom: false
          }
        });
      <% } %>;
        });
        </script>
</head>

<body>
  <div id="viewDiv">
    <div class="container">
      <div class="formulaire">
        <h1>The Weather Map App</h1>
        <form action="getCity" method="post">
          <input name="city" type="text" placeholder="Inserez une ville...">
          <button class="button is-success">Chercher</button>
        </form>
      </div>
      <% if(weatherData.length > 0) { %>
        <% weatherData.forEach((element, id) => { %>
      <div class="card">
        <form action="/deleteCard" method="post">
          <input name="input" type="submit" value="X" class="button is-danger is-small">
          <input name="sub" type="hidden" value="<%= id %>" class="button is-danger">
        </form>
        <button id="buttonCity" class="button" data-longitude="<%=element.longitude%>" data-latitude="<%=element.latitude%>"> <%= element.city %> </button>
        <h3>Temperature : <%= element.temperature %>째 </h3>
        <h3>Ressenti : <%= element.ressenti %>째</h3>
        <h3>Minima : <%= element.tempMin %>째</h3>
        <h3>Maximum : <%= element.tempMax %>째</h3>
      </div>
      <% }) %>
      <% } %>
    </div>
    
  </div>

  <!-- <script>
    const buttonCity = document.getElementById("buttonCity");
        
        buttonCity.addEventListener('click', () => {
          let pt = new Point({
              x: buttonCity.getAttribute("data-longitude"),
              y: buttonCity.getAttribute('data-latitude'),
              spatialReference: {
                wkid: view.spatialReference  // wkid 2027
              }
            });
            view.center = pt
        })
  </script> -->
    
</body>

</html>